# git ignore
frontend/.env
frontend/node_modules/
baseArenaSDK/env/
baseArenaSDK/.env
AngryBirdsStyleGame/
**/.env
UnityGame/executables/
etharenasubgraph/package-lock.json
ETHArenaSDK/node_modules/
baseArenaSDK/__pycache__/
ETHArenaSDK/package-lock.json